*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.navigation{
   background-color: rgba(158, 193, 193, 0.548);
   padding: 30px;
   display: flex;   
   justify-content: space-between; 
   align-items: center; 
   position: relative;
   
}

.nav-ul{
   display: flex;
}
.burger-bar{
   position: absolute;
   right: 30px;
   top: 30px;
   display: none;
}



@media ( max-width:480px){
.burger-bar{ display: block;}
.navElement{
   display: none;
}
.navigation{
   flex-direction: column;
   align-items: flex-start;
}
.nav-ul{
   flex-direction: column;
   gap: 10px;
}
.navElement.activeNav{   
   display: block;
   margin-top: 30px;   
}
}


.btnitem{
    color: blue;
    border: none;
   margin-left: 50px;

}
.liitem{
    color: rgb(14, 14, 220);   
}
 #clearall,#btn-list{
    background-color: rgb(4, 0, 255);
    border: none;
    border-radius: 50px;
    color: beige;
    height: 30px;
    width: 150px;
    cursor: pointer;
    margin-left: 30px;
 }
 #clearall:hover,#btn-list:hover{
    background-color: aliceblue;
    color: blue;
    transition: 0.7s;
 }
 #input-list{
   background-color: transparent;
   border: none;
   border-bottom: 2px solid blue;
   outline: none;
   margin-left: 30px;
 }
 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    margin-left: 20px;
 }
